# Ignore everything
**

# Allowed
!backend/apps/
!backend/config/
!backend/manage.py
!backend/requirements.txt

# эти файлы для только для деплоя, они там будут (скрипты скопируются из deploy/, json придет в билде из ARG)
!backend/run.sh
!backend/wait.sh
!backend/google.json

# а это для локального запуска докера (но в репозитории их нет, соответственно в билд деплоя они не пойдут)
# а локально они должны быть - базу скачаем из гугл-дока вручную, картинки скачаем в архив и положим их в backend/media/
!backend/database.ods
!backend/media/


# Override allowed
.idea/
**/__pycache__/
**/*.py[cod]
**/*$py.class
