# Ignore everything
**

# Allowed
!apps/
!config/
!manage.py
!requirements.txt
!run.sh
!wait.sh
!google.json
!database.ods
!media/

# Override allowed
.idea/
**/__pycache__/
**/*.py[cod]
**/*$py.class
